.content-about .wrapper .left .content__holder .content__subheader div {
    color: #fcc210;
}




.about-container{
    .swiper-slide{
        text-align: center;
        font-size: 18px;
        height: 100vh;
        background: #fff;
        justify-content: center;
        align-items: center;
    }
    img{
        padding: 2rem 0;
        @include breakpoint(small down) {
            padding: 0rem 0;
        }
    }
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    .about-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        height: 100%;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        .left{
            width: 50vw;
            height: 100%;
            width: 100%;
            display: flex;
            @include breakpoint(small down) {
                width: 100%;
            }
        }

        .about__holder{
            @include breakpoint(large only) {
                padding-left: 6.5rem;
            }
    
            @include breakpoint(four only) {
                padding-left: 6.5rem;
            }
    
            @include breakpoint(six only) {
                padding-left: 6.5rem;
            }
            
            @include breakpoint(nine only) {
                padding-left: 6.5rem;
            }
    
            @include breakpoint(two only) {
                padding-left: 6.5rem;
            }
            @include breakpoint(twoeight only) {
                padding-left: 7.3rem;
            }
        }

        .content__hero{
            position: absolute;
            font: 900 80vh/100% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            color: #FAFAFA;
            z-index: 0;
            align-self: center;
            left: -30vh;
            @include breakpoint(small down) {
                font: 900 80vh/100% "futura-pt", AppleGothic, sans-serif;
            }
        }
        .left .content__holder{
            padding-left: 6rem;
            align-self: center;
            text-align: left;
            position: relative;
            z-index: 1;
            @include breakpoint(small down) { 
                padding-left: 5.625rem;
                align-self: flex-end;
            }
            @include breakpoint(large only) {
                padding-left: 3rem;
            }
    
            @include breakpoint(four only) {
                padding-left: 4.2rem;
            }
    
            @include breakpoint(six only) {
                padding-left: 5rem;
            }
            
            @include breakpoint(nine only) {
                padding-left: 5.7rem;
            }
    
            @include breakpoint(two only) {
                padding-left: 7.5rem;
            }
            @include breakpoint(twoeight only) {
                padding-left: 8.3rem;
            }
            .content__header, .content__subheader{
                font: 900 3.3375rem/100% "Avenir","Century Gothic", CenturyGothic, AppleGothic, sans-serif;
                @include breakpoint(small only) { 
                    font: 900 2.2rem/100% "Avenir","Century Gothic", CenturyGothic, AppleGothic, sans-serif;
                }
            }
            .content__header{
                font-weight: normal;
                color: #0F294B;
            }
            .content__subheader, .content__subheader div{
                font-weight: bold;
                color: #0F294B;
            }
            .content__description{
                font: 1rem/100% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
                color: #5D5D5D;
                margin-top: 1.5rem;
                margin-left: 0;
                margin-right: 0;
                padding-right: 5rem;
                max-width: 600px;
                @include breakpoint(small down) { 
                    font: 0.9rem/100% "futura-pt", AppleGothic, sans-serif;
                    max-width: 100%;
                    padding-right: 0;
                    width: 68vw;
                    margin-bottom: 2rem;
                }
            }
            .content__description div{
                line-height: 1.6;
            }
            .content__btn,.home__content__btn{
                display: inline-block;
                margin-top: 2rem;
            }
            .content__btn a{
                font: 1.25rem/100% "Avenir", sans-serif;
                color: #ffffff;
                font-weight: 900;
                background: #FCC210;
                padding: 1rem 1.3rem;
            }
            
        }
        
    }
    
    .main-slide, .about__slide__fifty{
        width: 50vw;
        @include breakpoint(small down) { 
            width: 70vw;
        }
    }

    .main-slide{
        @include breakpoint(small down) {
            width: 100%;
        }
    }

    .about__slide__fifty__left{
        text-align: left;
        max-width: 400px;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 3rem;
    }
    .about__slide__fifty__left_1{
        display: flex;
        text-align: left;
        max-width: 700px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-right: 150px;
        @include breakpoint(small down) {
            max-width: 260px;
        }
    }
    .about__huntsworth{
        // margin: 0 5rem;
        margin-left: 115px;
        margin-right: 180px;
    }
    .about__whole_map{
        width: 100%;
        @include breakpoint(small down) { 
            width: 720px;

        }
    }

    .about__width__auto{
        width: auto;
    }

    .slide-about{
        
        width: auto;
        img{
            // height: 100% !important;
        }
    }
    .about__content__description{
        font: 1rem/150% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        color: #5D5D5D;
        margin: 1.5rem 0;
        @include breakpoint(small down) { 
            font: 0.9rem/150% "futura-pt", AppleGothic, sans-serif;
        }
    }
    .about__content__subheader{
        font: 900 3.3375rem/100% "Avenir","Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        color: $blue;
        @include breakpoint(small down) { 
            font: 900 2.2rem/100% "Avenir","Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        }
    }
    
}



#Layer_1{
    .st0{enable-background:new    ;}
    .st1{fill:#38A7A0;}
    .st2{fill:#80448E;}
    .st3{fill:#57A0D3;}
    .st4{fill:#E3A424;}
    .st5{fill:#635FA6;}
    .st6{fill:#513059;}
    .st7{fill:#FFFFFF;}
    .st8{fill:#304078;}
    .st9{fill:#4A7628;}
    .st10{fill:#3AA6A0;}
    .st11{fill:#589FD2;}
    .st12{fill:#E1A225;}
}
#exactMapSvg{
    .st0{display:none;}
    .st1{clip-path:url(#SVGID_2_);}
    .st2{fill:#E1A225;}
    .st3{fill:#635FA6;}
    .st4{fill:#513059;}
    .st5{fill:#FFFFFF;}
    .st6{fill:#304078;}
    .st7{fill:#589FD2;}
    .st8{fill:#204B66;}
    .st9{fill:#5D5D5D;}
    .st10{fill:#D41367;}
    .st11{fill:#12284B;}
    .st12{clip-path:url(#SVGID_4_);fill:#D41367;}
    .st13{clip-path:url(#SVGID_4_);fill:#12284B;}
    .st14{fill:#0F294B;}
}