.case-study .left .content__holder .content__subheader{
    color: #00AAA0;
}

.case-study .left .content__holder .content__btn a{
    background: #00AAA0;
}

.case-study{
    grid-template-columns: 1fr;
}

.case-study .left{
    align-content: center;
    justify-content: left;
}

.case-study .left .content__holder{
    width: 100%;
}

.case__inner__logo{
    img{
        margin: 0;
    }
}

.case-study-slide-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
        height:100vh;
    }
    .main-slide{
        width: 50vw;
        background: #ffffff;
        @include breakpoint(small down) {
            width: 100vw;
        }
        
    }
    .case-slide{
        width: 100vw;
        @include breakpoint(small down) {
            width: 90vw;
        }
    }

    .case__study__holder{
        padding-left: 6rem;
        align-self: center;
        text-align: left;
        position: relative;
        z-index: 1;
        @include breakpoint(small down) {
            align-self: flex-end;
        }
        @include breakpoint(large only) {
            padding-left: 6.5rem;
        }

        @include breakpoint(four only) {
            padding-left: 6.5rem;
        }

        @include breakpoint(six only) {
            padding-left: 6.5rem;
        }
        
        @include breakpoint(nine only) {
            padding-left: 6.5rem;
        }

        @include breakpoint(two only) {
            padding-left: 6.5rem;
        }
        @include breakpoint(twoeight only) {
            padding-left: 8.3rem;
        }
        .content__header, .content__subheader{
            font: 900 3.3375rem/100% "Avenir","Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            @include breakpoint(small down) {
                font: 900 2.2rem/100% "Avenir","Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            }
        }
        .content__header{
            font-weight: normal;
            color: #0F294B;
        }
        .content__subheader, .content__subheader div{
            font-weight: bold;
            color: #0F294B;
        }
        .content__description{
            font: 1rem/100% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            color: #5D5D5D;
            margin-top: 1.5rem;
            margin-left: 0;
            margin-right: 0;
            padding-right: 5rem;
            max-width: 600px;
            @include breakpoint(small down) {
                font: 0.9rem/100% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
                margin-bottom: 2rem;
            }
        }
        .content__description div{
            line-height: 1.6;
        }
        .content__btn,.home__content__btn{
            display: inline-block;
            margin-top: 2rem;
        }
        .content__btn a{
            font: 1.25rem/100% "Avenir", sans-serif;
            color: #ffffff;
            font-weight: 900;
            background: #FCC210;
            padding: 1rem 1.3rem;
        }
    }

    .case__holder{
        display: grid;
        grid-template-columns: 30vw 70vw;
        grid-template-rows: 1fr;
        height: 100%;
        width: 100%;
        @include breakpoint(small down) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
          
        }


        .case__left{
            align-self: center;
            text-align: left;
            padding: 0 5rem;
            @include breakpoint(small down) {
                padding: 0 2rem;
            }
            .case__title{
                h1{
                    font: bold 1.75rem/80% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
                    color: $pink;
                    padding: 1rem 0;
                    @include breakpoint(small down) {
                        font: bold 1.75rem/80% "futura-pt", AppleGothic, sans-serif;
                        padding-top: 2rem;
                    }
                } 
            }// Case Title Ends
            .case__deliverables{
                h4{
                    font: normal 1.4375rem/80% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
                    @include breakpoint(small down) {
                        font: normal 1.4375rem/80% "futura-pt", AppleGothic, sans-serif;
                    }
                }
            } // Case Deliverables Ends
            .case__description{
                p{
                    font: 1rem/150% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
                    color: #0F294B;
                    margin: 1.5rem 0;
                    @include breakpoint(small down) {
                        font: 1rem/150% "futura-pt", AppleGothic, sans-serif;
                    }
                }
            } // Case Description Ends
            .case__button a{
                font: 900 0.75rem/150% "Avenir", AppleGothic, sans-serif;
                color: $blue;
                padding: 0.7rem 0rem;
                border-bottom: 2px solid $pink;
            }

        } // Case Left Ends
        .case__right{
            width: 100%;
            background: #598059;
            @include breakpoint(small down) {

            }
            img{
                height: auto;
                width: 100%;
            }
        } // Case Right Ends
    }
}



// CASE INNER
// ==================================
@media not all and (min-resolution:.001dpcm) { @supports (-webkit-appearance:none) and (stroke-color:transparent) { 
        .case__inner__holder { 
            height: 87% !important;
         }
    } 
}


@media not all and (min-resolution:.001dpcm) {  @supports (-webkit-appearance:none) and (font-variant-caps:normal) and (not (-ms-accelerator:true)) and (not (overflow:-webkit-marquee)) and (not (-moz-appearance:none)) { 
    .case__inner__holder { 
        height: 100% !important;
    }
    }
}








.case-inner-container{
    height: 100vh;
}

.case-inner-slide-container{

    

    .main-slide{
        background: rgb(255, 255, 255);
        width: 50vw;
        text-align: left;
        // height:100vh;
        height: 100%;
        @include breakpoint(small down) {
            width: 100%;
            
        }



    .case__inner__holder{
        padding: 0 7rem;
        padding-bottom: 2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        @include breakpoint(small down) {
            padding-right: 0rem;
            padding-left: 5.5rem;
            display: flex;
            flex-direction: column;
            
        }
        .case__inner__description{
            margin: 2.5rem 0;
            @include breakpoint(small down) {
                width: 250px;
                margin: 0rem 0;
            }
        }
        .case__inner__description p{
            font: normal 1rem/150% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            color: #5d5d5d;
            @include breakpoint(small down) {
                font: normal 0.8rem/150% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            }
        }
        .case__deliverables div:first-child{
            padding-left: 0;
        }
        .case__deliverables{
            display: flex;
            div{
                padding-top: 0;
                // padding-bottom: 1.5rem;
                padding-left: 1rem;
                padding-bottom: 2.5rem;
            }
        } // Case Deliverables Ends
    } // Case Holder Ends

    ul{ margin: 0; padding: 0;}
    li{
        list-style: none;
    }

    } 
    // Case Inner Main Slide Ends
    .case__slide{
        background: #ffffff00;
        width: auto;
        // height: 100vh;
        height: 100%;
        text-align: left;
        
        .case__inner__slide__holder{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: flex-start;
            height: 100%;
            width: 100%;

            .case__inner__slide__title h1{
                font: 700 1.75rem/100% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
                color: $pink;
                // margin: 0;padding: 0;
                @include breakpoint(small down) {
                    font: 700 1.75rem/100% "futura-pt", AppleGothic, sans-serif;
                }
            }
            .case__inner__slide__subtitle h4{
                font: 500 1.4375rem/100% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
                color: $blue;
                @include breakpoint(small down) {
                    font: 500 1.4375rem/100% "futura-pt", AppleGothic, sans-serif;
                }
            }
            .case__inner__slide__description{
                font: 500 1rem/100% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
                color: #5D5D5D;
                margin: 2rem;
                @include breakpoint(small down) {
                    font: 500 1rem/100% "futura-pt", AppleGothic, sans-serif;
                }
            }
        }
    }
    .case__pagination{
        // width: auto;
        width: 100%;
        max-width: 30vw;
        
        display: flex;
        text-align: center;
        font-size: 18px;
        // height: 100vh;
        height: 100%;
        background: #fff;
        justify-content: center;
        align-items: center;
        @include breakpoint(small down) {
            max-width: 88vw;
        }

        .case__inner__pagination__holder{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            height: 100%;
            width: 100%;
            
            text-align: left;
            .case__inner__top,.case__inner__btm{
                color: #ffffff;
                position: relative;
                height: 100%;
                display: flex;
                position: relative;
                
                
                .case__page__holder{
                    width:100%;
                    align-self: flex-end;
                    position:relative;
                    height: 20%;
                    
                }
            }
            .case__inner__top:hover .case__prev__title span{
                color: #ffffff;
            }
            .case__inner__btm:hover .case__next__title span{
                color: #ffffff;
            }
            .case__inner__top{
                position: absolute;
                top: 0;
                width: 100%;
                max-height: 50%;
                background: $blue;
                transition: .3s;
            }
            .case__inner__btm{
                position: absolute;
                bottom: 0;
                width: 100%;
                max-height: 50%;
                background: $blue;
                transition: .3s;
            }
        }

        img{
            position: absolute;
            bottom: 3rem;
            right: 3rem;
            @include breakpoint(small down) {                
                bottom: 1.5rem;
                right: 1.5rem;
                max-width: 56px;
            }
        }
        .case__prev, .case__next{
            @include breakpoint(small down) {
                font-size: 0.9rem;
            }
        }
        
        .case__prev__title, .case__next__title{
            position: absolute;
            bottom: 3rem;
            left: 3rem;
            @include breakpoint(small down) {
                bottom: 1rem;
                left: 1.3rem;
            }
        }
        .case__prev__title span, .case__next__title span{
            font: 700 2.5625rem/100% "Century Gothic", CenturyGothic, sans-serif;
            color: #D92360;
            transition: .3s;
            @include breakpoint(small down) {
                font: 700 1.4rem/100% "futura-pt", AppleGothic, sans-serif;
                color: #ffffff;
            }
        }
        
    }
}

.case__slide__description__holder{
    max-width: 400px;
}

.swiper-slide .case__slide img{
    height: 100%;
    width: auto;
    @include breakpoint(small down) {
        width: auto;
        height: 100%;
    }
}

.case-inner-slide-container{
    .second-slide{
        width: auto;
        img{
            max-width: 100%;
        }
    }

    .swiper-slide{
        // width: unset;
    }
}

.case__slide__img__holder{
    max-width: 50vw;
}

.case-study-slide-container .case-slide{
    // border: 1px solid red;
    -webkit-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.09);
    box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.09);
}

.address-case{
    font: .875rem/125% Avenir,sans-serif;
    margin-bottom: 2.5rem;
    @include breakpoint(small down) {
        margin-bottom: 1.5rem;
    }
}