.contact .left .content__holder .content__subheader{
    color: #3DA2DB;
}

.contact .left .content__holder .content__btn a{
    background: #3DA2DB;
}

.contact{
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            margin: 2rem 0;
            img{
                margin-right: 2rem;
            }
        }
    }
}

#contact__map{
    height: 100%;
    width: 100%;
    text-align: left;
}