.contact .left .content__holder .content__subheader{
    color: #3DA2DB;
}

.contact .left .content__holder .content__btn a{
    background: #3DA2DB;
}

.contact{
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            margin: 2rem 0;
            img{
                margin-right: 2rem;
            }
        }
    }
}

#contact__map{
    height: 100%;
    width: 100%;
    text-align: left;
}

.contact__subheader{
    color: #D92360 !important;
    margin: 0.5rem 0;
}

.swiper-contact-slide 


.contact-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    @include breakpoint(large down) { 
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr !important;
    }
    .contact__holder{
        width: 60%;
    }
    .hello-translate{
        font-weight: bold;
    }
    .left{
        width: 50vw;
    }
    .right{
        width: 50vw;
    }

    .wpforms-field-container{
        width:100%;
        label{
            color: #0F294B;
        }
        input{
            width: 100%;
            max-width: 100% !important;
            border: 2px solid #F4F4F4 !important;
        }
        textarea{
            border: 2px solid #F4F4F4 !important;
        }
        button{
            border: 2px solid #F4F4F4 !important;
            background: #fff;
            color: #0F294B;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 50px;
            padding: 0.8rem 3rem;
        }
    }
}