*{
    font-family: 'Avenir';
    font-weight: 400;
    user-select: auto !important;
    // transition: 0.3s;
}

html{
    overflow: hidden;
}

body{
    // overflow-y: hidden;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

// Highlight
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #D81C5C;
  }
  
  ::selection {
    color: #fff;
    background: #D81C5C;
  }

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    .left, .right{
        height: 100%;
        width: 100%;
        display: flex;
    }
    // Left Styles Starts
    .left .content__holder{
        padding-left: 6rem;
        align-self: center;
        text-align: left;
        position: relative;
        z-index: 1;
        @include breakpoint(small down) { 
            padding-left: 0;
            align-self: flex-end;
        }
        @include breakpoint(large only) {
            padding-left: 3rem;
        }

        @include breakpoint(four only) {
            padding-left: 4.2rem;
        }

        @include breakpoint(six only) {
            padding-left: 5rem;
        }
        
        @include breakpoint(nine only) {
            padding-left: 5.7rem;
        }

        @include breakpoint(two only) {
            padding-left: 7.5rem;
        }
        @include breakpoint(twoeight only) {
            padding-left: 8.3rem;
        }
        .content__header, .content__subheader{
            font: 900 3.3375rem/100% "Avenir","Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            
        }
        .content__header{
            font-weight: normal;
            color: #0F294B;
        }
        .content__subheader, .content__subheader div{
            font-weight: bold;
            color: #0F294B;
        }
        .content__description{
            font: 1rem/100% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            color: #5D5D5D;
            margin-top: 1.5rem;
            margin-left: 0;
            margin-right: 0;
            padding-right: 5rem;
            max-width: 600px;
            @include breakpoint(small down) { 
                max-width: 100%;
                padding-right: 0;
                width: 68vw;
                font: 1rem/100% "futura-pt", AppleGothic, sans-serif;
                margin-bottom: 2rem;
            }
        }

        // "futura-pt", AppleGothic, sans-serif;
        .content__description div{
            line-height: 1.6;
        }
        .content__btn,.home__content__btn{
            display: inline-block;
            margin-top: 2rem;
        }
        .content__btn a{
            font: 1.25rem/100% "Avenir", sans-serif;
            color: #ffffff;
            font-weight: 900;
            background: #FCC210;
            padding: 1rem 1.3rem;
        }
        
    }
    .content__hero{
        position: absolute;
        font: 900 80vh/100% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        color: #FAFAFA;
        z-index: 0;
        align-self: center;
        left: -30vh;
        @include breakpoint(small down) {
            font: 900 80vh/100% "futura-pt", AppleGothic, sans-serif; 
        }
    }
    // Left Styles Ends

    // --------------

    // Right Styles Starts
    .right{
        position: relative;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

}

$blue: #0F294B;
$pink: #D81C5C;

#main-container{
    padding: 0;
    overflow-y: hidden;
}

.home{
    .left{
        width: 100%;
        min-width: 40vw;
    }
    .home__content__header{
        font: 900 3.3375rem/110% "Avenir", AppleGothic, sans-serif;
        text-transform: uppercase;
        color: $blue;
    }
    .header_animation{
        color: $pink;
        font-weight: 900;
        font-style: normal;
    }
    .home__content__btn a{
        margin-top: 0.5rem;
        padding: 1.5rem 0;
        font: 900 1.25rem/100% "Avenir", AppleGothic, sans-serif;
        border-bottom: 3px solid $pink;
        color: $blue;
    }
    
}

.case__home__holder{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    // justify-content: end;
    .case__home__img{
        // align-self: flex-start;
        
        img{
            height: 65vh;
            width: auto;
            object-fit: cover;
            @include breakpoint(small down) {
                width: 100%;
            }
        }
    }
    .case__home__category{
        padding: 0 2rem;
    }
    .case__home__category h4{
        font: 700 1rem/100% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        @include breakpoint(small down) {
            font: 700 1rem/100% "futura-pt", AppleGothic, sans-serif; 
        }
    }
    .case__home__category p{
        opacity: 0;
        font: 300 0.8rem/150% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        transform: translateY(20px);
        @include breakpoint(small down) {
            font: 300 0.8rem/150% "futura-pt", AppleGothic, sans-serif; 
        }
    }
    .case__home__btn{
        position: absolute;
        bottom: 2rem;
        left: 2rem;

    }
    .case__home__btn a{
        padding: 1rem 0;
        font: 900 0.75rem/100% "Avenir", AppleGothic, sans-serif;
        border-bottom: 3px solid $pink;
        color: $blue;
    }
    .case__home__meta{
        // position: absolute;
        // left: 2rem;
        // bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        color: $blue;
        z-index: 2;
        .case__home__date h4{
            font: 500 1rem/100% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            color: $pink;
            @include breakpoint(small down) {
                font: 500 1rem/100% "futura-pt", AppleGothic, sans-serif; 
            }
        }
        .case__home__title{
            // margin-bottom: 3rem;
        }
        .case__home__title h1{
            font: 500 1.25rem/100% "Avenir", AppleGothic, sans-serif;
            color: $blue;
        }
        
    }
    .case__home__number{
        position: absolute;
        bottom: 0;
        font: 700 14.8125rem/80% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        color: #F8F8F8;
        right:-3rem;
        margin: 0;
        padding: 0;
        @include breakpoint(small down) {
            font: 700 14.8125rem/80% "futura-pt", AppleGothic, sans-serif;
        }
    }
}

.swiper-container {
    width: 100%;
    height: 100%;

    .swiper-slide {
        // -webkit-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.09);
        // -moz-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.09);
        // box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.09);
        transition: 1.8s;
    }


}

.home-slide-container .swiper-wrapper > .swiper-slide{
    -webkit-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.09);
    box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.09);
}

.home-slide-container .swiper-wrapper > .swiper-slide-active{
    transition: 1.8s;
    width: 29vw;
}

.home-slide-container .swiper-wrapper > .swiper-slide-active .case__home__category p{
    transition: 0.8s;
    opacity: 1;
    transform: translateY(0px)
}

.home-slide-container .swiper-wrapper > .swiper-slide-active .case__home__meta .case__home__title h1{
    // color: $pink;
    font-weight: bold;
    font-size: 1.5rem;
}

.home-slide-container{
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        height: 100vh;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.menu {
    height: 100vh;
    min-width: 100px;
    width: 100%;
    max-width: 70vw;
    background: $blue;
    display: flex;
    position: relative;
    z-index: 5;
    -webkit-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.09);
    box-shadow: 0px 0px 35px -1px rgba(20, 12, 12, 0.09);
    @include breakpoint(small down) {
        max-width: 100vw;
    }
}



.content {
    width: 100%;
    overflow: hidden;
}

.menu-button {
    position: absolute;
    left: -5px;
    z-index: 999;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #ffffff;
    border-right: 1px solid #DDDDDD;
    @include breakpoint(small down) {
        max-width: 15vw;
    }
    img{
        padding: 1.3rem;
    }
}

.cross{
    position: fixed !important;
    background: $blue;
    border-right: 1px solid #47576b;
}


// MENU

#menu{
    width: 100%;
    padding: 0 6rem;
    margin: 0;
    align-self: flex-end;
    li{
        text-transform: uppercase;
        list-style: none;
        text-align: left;
        -webkit-transition: .3s;
        transition: .3s;
        
    }
    .active>a{
        background: $blue;
        color: $pink;
        pointer-events: none;
        
    }    
    a{
        // color: $blue;
        color: #ffffff;
        font: 300 3.125rem/80% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        transition: 0.3s;
        padding: 0.5rem 0;
        @include breakpoint(small down) {
            font: 300 3.125rem/80% "futura-pt", AppleGothic, sans-serif;
        }
    }
    li a:hover{
        color: $pink;
    }
}

.glogo{
    position: absolute;
    top: 4rem;
    left: 6.5rem;
    z-index: 9999;
}


.home__address{
    color: #ffffff;
    text-align: left;
    justify-content: left;
    width: 100%;
    margin-left: 6rem;
    margin-bottom: 3rem;
    align-self: flex-end;
    h5{
        font: 0.875rem/125% 'Avenir', sans-serif;
        text-transform: uppercase;
        color: $pink;
    }
    .three__column__address{
        display: flex;
        @include breakpoint(small down) {
            display: unset;
        }
        div{
            max-width: 10rem;
            font: 0.875rem/125% 'Avenir', sans-serif;
            margin-right: 4rem;
            padding: 0;
            @include breakpoint(small down) {
                max-width: unset;
                padding: 0.5rem 0;
            }
        }
        a{
            font: 500 0.875rem/125% 'Avenir', sans-serif;
            margin: 0; padding: 0;
            color: $pink;
        }
    }
}

.address{
    position: absolute;
    bottom: 2rem;
    left: 6.2rem;
    font: .875rem/125% Avenir,sans-serif;
}

.address2{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font: 500 0.9rem/100% 'Avenir', sans-serif;
    color: #ffffff;
}

#social{
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    right: 2rem;
    top: 2rem;
    li{
        font: 500 0.9rem/100% 'Avenir', sans-serif;
        text-transform: uppercase;
        list-style: none;
        text-align: right;
        transition: .3s;
        padding: 0 0.5rem;
        color: #fff;
    }
}

.explore{
    margin: 0;
    padding: 0;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    // font: 700 0.9rem/100% 'Avenir', sans-serif;
    font: .875rem/125% Avenir,sans-serif;
    text-transform: uppercase;
    img{
        padding-left: 0.7rem;
        position: relative;
        top: -2px;
    }
}



// 

.home-slide-container {
    // width: 100%;
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    .swiper-wrapper{
        position: relative;
        z-index: 2;
    }
    .swiper-slick{
        width: 100vw !important;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
        @include breakpoint(small down) {
            width: 85vw !important;
        }
    }
    .main-slide{
        min-width: 50vw;
        background: #ffffff;
        -webkit-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0) !important;
        -moz-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0) !important;
        box-shadow: 0px 0px 35px -1px rgba(0,0,0,0) !important;
    }
}




.home-slick{
    width: 100%;
    height:100%;
    
    .slick-track{
        height: 100vh;
    }
    .slick-services{
        width: 100%;
        height: 100%;
        height: 100vh;
    }
    .slick-services-holder{
        display: flex;
        justify-content: center;
        align-content: center;
        
    }
    .slick-services-list{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        h1{
            align-self: center;
            margin: 2rem 0;
            font: 300 1.625rem/100% "Avenir","Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            text-transform: uppercase;
            color: $blue;
        }
        img{
            margin: 0 auto;
        }
    }
    .slick-list{
        height: 100%;
    }
    .slick-slide{
        width: 20vw;
        border: 1px solid red;
    }
    .slick-current{
        width: 40vw !important;
        transition: 1.7s;
    }
}


// TRANSITION

.transition{
    svg{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -5;
    }
    .white,.gray{
        // transform: translateX(100%);
    }
}

.home__backBtn{
    position: absolute;
    z-index: 1;
    bottom: 2rem;
    right: 2rem;
    font: 900 1.625rem/100% "Avenir","Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: $pink;
}

.left-overlay{
    position: absolute;
    background: #ffffff;
    top: 0;
    z-index: -1;
    opacity: 0.95;
    left: 0;
    bottom: 0;
    right: 0;
}

.home__content__header_home{
    font: 200 3.3375rem/110% "Avenir", AppleGothic, sans-serif;
    color: $blue;
    @include breakpoint(small down) { 
        font: 700 2.2rem/110% "Avenir", AppleGothic, sans-serif;
    }
}

.page__pagination{
    .btn__pagination__services{ background: #ffffff;}
    .btn__pagination__work{ background: #ffffff;}

    width: 100%;
    max-width: 30vw;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;

    @include breakpoint(small down) {
        max-width: 90vw;
    }

    a{
        // background: #DDDDDD;
        height: 100%;
        width: 30vw;
        display: flex;
        align-items: flex-end;
        margin: 0; padding: 0;
        position: relative;

        @include breakpoint(small down) {
            width: 90vw;
        }
        span{
            color: #D92360;
            font: 700 2.5625rem/150% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            padding: 2rem;
            position: relative;
            z-index: 999;
            @include breakpoint(medium down) {
                font: 700 1.5rem/150% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            }
            @include breakpoint(xlarge down) {
                font: 700 2rem/150% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            }
            @include breakpoint(small down) {
                font: 700 1.3rem/150% "futura-pt", AppleGothic, sans-serif;
                padding-left: 2rem;
                padding-bottom: 1rem;
            }
            
        }
        img{
            position: absolute;
            bottom: 2rem;
            right: 2rem;
            padding: 0;
            @include breakpoint(small down) {
                bottom: 1.5rem;
                right: 1.5rem;
            }
        }
        .bg__arrow{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            justify-items: center;
            img{
                position: unset;
                bottom: unset;
                right: unset;
                padding: unset;
                @include breakpoint(medium down) {width: 40%;}
                @include breakpoint(xlarge down) {width: 40%;}
                @include breakpoint(four down) {width: 40%;}
            }
        }
    }
    a:hover{
        background: #898989;
        span{
            color: #ffffff;
        }
    }
    .btn__top{
        position: relative;
        top:0;
    }
    .btn__btm{
        position: relative;
        bottom:0;
        border-top: 1px solid #c5c5c5;
    }
}

#logo__holder_loaded,#logo__holder_loading{
    width: 103px;
    height: 115px;
    position: absolute;
    top: 2rem;
    left: 5rem;
    z-index: 999;
}