.slick-services-list{
    img{
        @include breakpoint(large down) { 
            width: 50px;
        }
    }
    h1{
        @include breakpoint(large down) {
            font: 300 1.1rem/100% Avenir,Century Gothic,CenturyGothic,AppleGothic,sans-serif !important;
        }
    }
}


#scene{
    height: 95vh;
}
.para-top{
    // top: 20px !important;
}
.para-left{
    @include breakpoint(nine down) {
        left: -360px !important;
    }
    @include breakpoint(two down) {
        left: 200px !important;
    }
    @include breakpoint(six down) {
        left: -430px !important;
    }
    @include breakpoint(four down) {
        left: -820px !important;
    }
    @include breakpoint(large down) {
        left: -850px !important;
    }
}