.services .left .content__holder .content__subheader{
    color: #0F294B;
}

.services .left .content__holder .content__btn a{
    background: #0F294B;
}

.slick-right{
    width: 50vw !important;
    height:100%;
    .slick-services{
        width: 100%;
        height: 100%;
        height: 100vh;
    }
    .slick-services-holder{
        display: flex;
        justify-content: center;
        align-content: center;
        
    }
    .slick-services-list{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        h1{
            align-self: center;
            margin: 2rem 0;
            font: 300 1.625rem/100% "Avenir","Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            text-transform: uppercase;
            color: $blue;
        }
        img{
            margin: 0 auto;
        }
    }
    .slick-list{
        height: 100%;
    }
}

.services__container{
    width: 100%;
    height: 100%;
    .swiper-slide{
        text-align: center;
        font-size: 18px;
        height: 100vh;
        background: #fff;
        justify-content: center;
        align-items: center;
        
    }
    .wrapper{
        grid-template-columns: 1fr;
    }
    .main__slide{
        max-width: 50vw;
        @include breakpoint(small down) {
            max-width: 100vw;
        }
        .wrapper .left .services__holder{
            border: 1px solid red;
        }
    }
    .services__holder_content{
        padding-left: 6rem;
        align-self: center;
        text-align: left;
        position: relative;
        z-index: 1;
        @include breakpoint(small down) {
            align-self: flex-end;
        }
        @include breakpoint(large only) {
            padding-left: 6.5rem;
        }

        @include breakpoint(four only) {
            padding-left: 6.5rem;
        }

        @include breakpoint(six only) {
            padding-left: 6.5rem;
        }
        
        @include breakpoint(nine only) {
            padding-left: 6.5rem;
        }

        @include breakpoint(two only) {
            padding-left: 6.5rem;
        }
        @include breakpoint(twoeight only) {
            padding-left: 8.3rem;
        }
        .content__header, .content__subheader{
            font: 900 3.3375rem/100% "Avenir","Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            @include breakpoint(small down) {
                font: 900 2.2rem/100% "futura-pt", AppleGothic, sans-serif;
            }
        }
        .content__header{
            font-weight: normal;
            color: #0F294B;
        }
        .content__subheader, .content__subheader div{
            font-weight: bold;
            color: #0F294B;
        }
        .content__description{
            font: 1rem/100% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            color: #5D5D5D;
            margin-top: 1.5rem;
            margin-left: 0;
            margin-right: 0;
            padding-right: 5rem;
            max-width: 600px;
            @include breakpoint(small down) {
                font: 0.9rem/100% "futura-pt", AppleGothic, sans-serif;
                padding-right: 2rem;
                margin-bottom: 2rem;
            }
            p{
                margin-bottom: 0rem;
            }
        }
        .content__description div{
            line-height: 1.6;
        }
        .content__btn,.home__content__btn{
            display: inline-block;
            margin-top: 2rem;
        }
        .content__btn a{
            font: 1.25rem/100% "Avenir", sans-serif;
            color: #ffffff;
            font-weight: 900;
            background: #FCC210;
            padding: 1rem 1.3rem;
        }
    }
    .swiper__slide__services{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        text-align: center;
        justify-content: flex-start;
        position: relative;

        .services__holder{
            position: relative;
            padding: 0 2rem;
            border-left: 1px solid #d5d5d5;
            margin: 2rem 0rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            @include breakpoint(small down) {
                padding: 0 3rem;
                height: auto;
                margin: 5rem 0;
            }
            .center-srvc{
                position: relative;
                top: 25%;
                @include breakpoint(xlarge down) {
                    top: 10%;
                }
                @include breakpoint(four down) {
                    top: 15%;
                }
            }
            h4{
                text-align: left;
                width: 100%;
                font: 2.625rem/150% "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
                color: #5D5D5D;
                @include breakpoint(small down) {
                    font: 2rem/150% "futura-pt", AppleGothic, sans-serif;
                }
                
            }
            p{
                font: 1rem/150% "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
                color: #5d5d5d;
                margin: 1.5rem 0;
                text-align: left;
                @include breakpoint(small down) {
                    font: 0.9rem/150% "futura-pt", AppleGothic, sans-serif;
                }
                
            }
            img{
                padding: 4rem 0;
                align-self: center;
            }
        }
        
    }

    
    .full__mountain{
        // border-left: 1px solid #d5d5d5;
        width: auto;
    }
  
}

// communications
// design
// production
// social-media
// strategy